node_modules/
.j1-integration/
build/
coverage/
dist/
yarn-error.log
.env
.env.*
*.tfstate
.vscode
.eslintcache

# This next line is added due to the integration dynamically creates this __recordings__ folder
# when its running.
__recordings__/